services:
  backend:
    build: ./backend
    ports:
      - 3333:3333
    environment:
      - PORT=${PORT}
      - API_KEY=${API_KEY}
      - API_URL=${API_URL}
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - redis
    volumes:
      - ./backend/src:/app/src
      - ./backend/package.json:/app/package.json
    command: npm run dev

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
