@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

@theme {
  --font-geist: "Geist", sans-serif;
  --font-code: "Source Code Pro", monospace;
}
