@import "tailwindcss";

@theme {
  --font-geist: "Geist", sans-serif;
  --font-code: "Source Code Pro", monospace;

  --color-foreground: #131316;
  --color-muted: #f5f5f7;
  --color-muted-foreground: #71717a;
}
